_base_: 'DC_FT_BASE.yml'


training:
  seed: 512
  resume_from: null
  work_dir: 'checkpoints'
  val_dir: 'Val'
  save_dir: 'Weights'
  max_epochs: 10
  batch_size: 4
  num_workers: 8
  log_freq: 1024
  accumulate_grad_batches: 1
  precision: '32'
  norm : true
  find_unused_parameters: false
  gradient_clip_val: 1.0

model:
  type: 'DCTProg'
  encoder: 'tiny 7'
  pretrain: 'swin_tiny_patch4_window7_224.pth'
  ape: true
  drop_path_rate: 0.2
  drop_path_rate_crf: 0.2
  seq_dropout_rate: 0.2
  output_space: 'metric'

loss:
  variance_focus: 0.85
  beta: 0.8
  freq_reg_weight: 0.005
  smooth_reg_weight: 0.005
  min_valid_pixels: 0 
  square_root: true

optimization:
  max_lr: 0.0002
  div_factor: 5.0
  final_div_factor: 10.0
  pct_start: 0.15
  weight_decay: 0.05
  lr_ratio: 5.0
  anneal_strategy: 'cos'

evaluation:
  every_n_epochs: 10